:root{
    --vermelho-principal:#FF0000;
    --branco-secundario:#FFFFFF;
    --preto--fundo: #000000;
    --fonte-principal: 'Inter';
    --vermelho-pressionado:#770808;
    
}
body{
    background-color: var(--preto--fundo);
    color: var(--branco-secundario);
    font-family: var(--fonte-principal);
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.principal{
    background-image: url(/img/fundo.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    align-items: center;
}

.container__esquerda{ 
    margin-left: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.container__titulo{
    font-size: 30px;
    font-weight: 700;
}


.container__botao{
    color: var(--branco-secundario);
    background-color: var(--vermelho-principal);
    border-radius: 15px;
    padding: 1em 3em 1em 3em;
    text-decoration: none;
}

.container__direita{
    margin-right: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.botao__secundario{
    background-color: transparent;
    border: 4px solid var(--vermelho-principal);
    margin-top: 6%;
}

.container__imagem{
    margin-right: 52%; 
    width: 81%;   
}

.cabecalho__logo{
    margin: 0 5em;
    width: 10%;
 
}

.cabecalho{
    text-align: center;
    margin: 1em 3em 0 3em;
    display: inline-flex;
}

.cabecalho__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.lista__item a{
    color: var(--vermelho-principal);
    text-decoration: none;
    margin-left: 4em;
}



.lista__item a:hover{
    color: var(--vermelho-pressionado);
}

.lista__item a:active{
    color: var(--vermelho-pressionado);
    opacity: 50%;
    transition: 0.3s;
}

.container__botao:hover{
    background-color: var(--vermelho-pressionado);
}

.container__botao:active{
    background-color: var(--vermelho-pressionado);
    opacity: 50%;
    transition: 0.3s;
}